@charset "UTF-8";

html, body, h1, h2, h3, ul, li, a, p, footer, header, main, div {
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 0px;
    color: #232323;
}
footer, header, main, div {
    display: block;
}
body {
    background-color: #dddddd;
    display: flex;
    justify-content: space-around;
}
body div {
    flex-grow: 1;
}

p {
    color: #454545;
}

.content {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    min-width: 400px;
    max-width: 1300px;
}

.navigateBar {
    border-bottom: 3px solid #dfd3f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.navigateBar a {
    flex-grow: 1;
}
.navigateBarButton {
    border-bottom: 3px solid #f7f7f7;
    text-decoration: none;
}
.navigateBarButton:hover {
    border-bottom: 3px solid #dfd3f3;
}

.gamePort {
    width: 100%;
    display: flex;
    justify-content: space-around;;

}
/*
.banner{
  float: left;
  width: 100%;
}

.title{
  float: left;
  width: 100%;
}

.titleLinks{
  float: left;
  display: block;
  width: 100%;
  margin-left: 3%;
}

.titleBox{
  float: left;
  background-color: #10FF01;
  padding: 5px;
  width: 30%;
  height: 30px;
}
.titleBox:hover {
  background-color: #59FF4D;
}

.box{
  clear: both;
  float: left;
  width: 90%;
  margin: 5px 5%;
  display: block;
  background-color: #eeeeee;
  padding: 5px;
}
.box:hover {
  background-color: #59FF4D;
}

h1{
  color: #2f2f2f;
 padding: 5px;
}

p{
  color: #333333;
 padding: 5px;
}

main {
  float: left;
  margin: 5px 5%;
  width: 90%;
}

footer{
  clear: both;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}
